<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p class="lead">YelpCamp</p>
                    <div class="list-group">
                        <li class="list-group-item active">Info 1</li>
                        <li class="list-group-item">Info 2</li>
                        <li class="list-group-item">Info 3</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%= campground.image %>">
                        <div class="caption-full">
                            <h4 class="pull-right">£30.00/night</h4>
                            <h4><a><%= campground.name %></a></h4>
                            <p><%= campground.description %></p>
                        </div>
                        <div class="well">
                            <div class="text-right">
                                 <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





<% campground.comments.forEach((comment)=> {%>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>

<% include ../partials/footer %>